### Loop (While)

In [5]:
i = 0
while(i < 10):
  print(i, end=", ")
  i += 1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [3]:
for i in range(10):
  print(i, end= ", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

### Dictionary

In [6]:
# key : value
# key : "name", "price", "year", "author"
# values : "python", 2000, 2010, "a1"
# items : ("name", "python")
book = {
  "name" : "python", 
  "price" : 2000, 
  "year": 2010, 
  "author": "a1"
  }

In [7]:
print(book)

{'name': 'python', 'price': 2000, 'year': 2010, 'author': 'a1'}

In [8]:
print(type(book))

<class 'dict'>

In [10]:
dict1 = {}
print(type(dict1))
print(len(dict1))

<class 'dict'>
0

In [11]:
dict2 = dict()
print(type(dict2))

<class 'dict'>

### read

In [12]:
book = {
  "name" : "python", 
  "price" : 2000, 
  "year": 2010, 
  "author": "a1"
  }
print(book["price"])

2000

In [13]:
print(book["pages"])

KeyError: 'pages'

In [14]:
print(book.get("name"))

python

In [17]:
print(book.get("pages", "pages not found"))

pages not found

### add

In [18]:
book = {
  "name" : "python", 
  "price" : 2000, 
  "year": 2010, 
  "author": "a1"
  }

In [19]:
book["pages"] = 1200
print(book)

{'name': 'python', 'price': 2000, 'year': 2010, 'author': 'a1', 'pages': 1200}

In [20]:
book.update({"lang":"English", "publisher":"p1"})
print(book)

{'name': 'python', 'price': 2000, 'year': 2010, 'author': 'a1', 'pages': 1200, 'lang': 'English', 'publisher': 'p1'}

In [21]:
book = {
  "name" : "c++", 
  "price" : 2000
}
book_info = {
  "year": 2010, 
  "author": "a1"
}

In [22]:
book.update(book_info)
print(book)

{'name': 'c++', 'price': 2000, 'year': 2010, 'author': 'a1'}

In [23]:
book = {
  "name" : "c++", 
  "price" : 2000
}
book_info = {
  "year": 2010, 
  "author": "a1"
}

In [24]:
book |= book_info
print(book)

{'name': 'c++', 'price': 2000, 'year': 2010, 'author': 'a1'}

### Edit

In [25]:
book = {
  "name" : "python", 
  "price" : 2000, 
  "year": 2010, 
  "author": "a1"
  }

In [26]:
book["name"] = "java"
print(book)

{'name': 'java', 'price': 2000, 'year': 2010, 'author': 'a1'}

In [27]:
book.update({"lang":"English", "year":2005})
print(book)

{'name': 'java', 'price': 2000, 'year': 2005, 'author': 'a1', 'lang': 'English'}

### Remove

In [28]:
book = {
  "name" : "python", 
  "price" : 2000, 
  "year": 2010, 
  "author": "a1"
  }

In [32]:
name = book.pop("name1", "not found")
print(name)
print(book)

not found
{'price': 2000, 'year': 2010}

In [30]:
item = book.popitem()
print(book)
print(item)

{'price': 2000, 'year': 2010}
('author', 'a1')

In [33]:
book = {
  "name" : "python", 
  "price" : 2000, 
  "year": 2010, 
  "author": "a1"
  }

In [34]:
del book["price"]
print(book)

{'name': 'python', 'year': 2010, 'author': 'a1'}

In [35]:
book.clear()
print(book)

{}

In [36]:
del book
#print(book)

NameError: name 'book' is not defined

### Search

In [39]:
book = {
  "name" : "python", 
  "price" : 2000, 
  "year": 2010, 
  "author": "a1"
  }

In [41]:
book_keys = list(book.keys())
print(book_keys)

['name', 'price', 'year', 'author']

In [42]:
book_values = list(book.values())
print(book_values)

['python', 2000, 2010, 'a1']

In [43]:
book_items = list(book.items())
print(book_items)

[('name', 'python'), ('price', 2000), ('year', 2010), ('author', 'a1')]

In [45]:
if "python3" in book_values:
  print("yes")
else:
  print("no")

no

In [47]:
if ("title", "python") in book_items:
  print("yes")
else:
  print("no")

no

In [56]:
if "name" in book:
  print("yes")
else:
  print("no")

yes

In [52]:
book = {
  "name" : "python", 
  "price" : 2000, 
  "year": 2010, 
  "shop" : ["shop1", "shop2", "shop3"],
  "author": "a1"
  }

In [54]:
print(book["shop"][1])

shop2

### Loop in dictionary

In [58]:
for i in book:
  print(i, end=", ")

name, price, year, shop, author,

In [59]:
for i in book.keys():
  print(i, end=", ")

name, price, year, shop, author,

In [60]:
for i in book.values():
  print(i, end=", ")

python, 2000, 2010, ['shop1', 'shop2', 'shop3'], a1,

In [62]:
for k, v in book.items():
  print(k, v)

name python
price 2000
year 2010
shop ['shop1', 'shop2', 'shop3']
author a1

### list od dicts

In [64]:
book1 = {
  "name" : "python", 
  "price" : 2000, 
  "year": 2010, 
  "author": "a1"
  }
book2 = {
  "name" : "java", 
  "price" : 2000, 
  "year": 2000, 
  "author": "a1"
  }

In [66]:
books = [book1, book2]
print(books)
print(len(books))

[{'name': 'python', 'price': 2000, 'year': 2010, 'author': 'a1'}, {'name': 'java', 'price': 2000, 'year': 2000, 'author': 'a1'}]
2

In [69]:
first_book = books[0]
price = first_book["price"]
print(first_book)
print(price)

{'name': 'python', 'price': 2000, 'year': 2010, 'author': 'a1'}
2000

In [70]:
first_book_price = books[0]["price"]
print(first_book_price)

2000

In [72]:
total_books = []
for i in range(2):
  name = input("name of book: ")
  price = int(input("price of book: "))
  year = int(input("year of book: "))
  book = {}
  book["name"] = name
  book["price"] = price
  book["year"] = year
  total_books.append(book)
print(total_books)

[{'name': 'a', 'price': 3, 'year': 4}, {'name': 'd', 'price': 4, 'year': 5}]

In [73]:
total_books = []
for i in range(2):
  name = input("name of book: ")
  price = int(input("price of book: "))
  year = int(input("year of book: "))
  book = {"name" : name, "price" : price, "year" : year}
  total_books.append(book)
print(total_books)

[{'name': 'a', 'price': 4, 'year': 5}, {'name': 'f', 'price': 4, 'year': 6}]