## Tuple

In [ ]:
# []  ===> list ====> index- value
# {} ===> dict  ====> key- value
# ()  ===> tuple ====> index- value

In [1]:
t1 = (3, 12, 14, 45)
print(t1)
print(type(t1))

(3, 12, 14, 45)
<class 'tuple'>

In [2]:
t2 = (3, 1.3, True, "python")
print(t2)

(3, 1.3, True, 'python')

### Define

In [5]:
t1 = ()
print(type(t1))
t2 = tuple()
print(type(t2))
# length ====> len()
print(len(t1))

<class 'tuple'>
<class 'tuple'>
0

In [9]:
t1 = (20,)
print(type(t1))
print(len(t1))

<class 'tuple'>
1

In [10]:
t2 = 4, 45, 12, 13
print(type(t2))
print(t2)

<class 'tuple'>
(4, 45, 12, 13)

## Read

In [14]:
t1 = (3, 12, 14, 45)
print(t1)
print(t1[1])
print(t1[:2])
print(t1[-1])

(3, 12, 14, 45)
12
(3, 12)
45

In [26]:
t1 = (3, 12, 14, 45)
for x in t1[:3]:
  print(x, end=", ")
print(t1[3])

3, 12, 14, 45

## Add, Edit, Remov

In [23]:
t1 = (3, 12, 14, 45)
print(t1, type(t1))
# Modify ===> list()
t1 = list(t1)
print(t1, type(t1))
# add
t1.append(200)
t1.insert(1, 20)
print(t1, type(t1))
# Modify ====> tuple()
t1 = tuple(t1)
print(t1, type(t1))

(3, 12, 14, 45) <class 'tuple'>
[3, 12, 14, 45] <class 'list'>
[3, 20, 12, 14, 45, 200] <class 'list'>
(3, 20, 12, 14, 45, 200) <class 'tuple'>

In [58]:
t1 = (3, 12, 14, 45)
t1 = t1 + (50,)
print(t1)

(3, 12, 14, 45, 50)

In [27]:
t1 = (3, 12, 14, 45)
print(t1, type(t1))
# Modify ===> list()
t1 = list(t1)
print(t1, type(t1))
# edit
t1[2] = 200
print(t1, type(t1))
# Modify ====> tuple()
t1 = tuple(t1)
print(t1, type(t1))

(3, 12, 14, 45) <class 'tuple'>
[3, 12, 14, 45] <class 'list'>
[3, 12, 200, 45] <class 'list'>
(3, 12, 200, 45) <class 'tuple'>

In [29]:
t1 = (3, 12, 14, 45)
print(t1, type(t1))
# Modify ===> list()
t1 = list(t1)
print(t1, type(t1))
# remove
t1.remove(14)
print(t1, type(t1))
# Modify ====> tuple()
t1 = tuple(t1)
print(t1, type(t1))

(3, 12, 14, 45) <class 'tuple'>
[3, 12, 14, 45] <class 'list'>
[3, 12, 45] <class 'list'>
(3, 12, 45) <class 'tuple'>

## Search

In [31]:
t1 = (3, 12, 13, 16)
# in, not in
if 3 not in t1:
  print(t1)

## Methods

In [35]:
t1 = (3, 12, 13, 16, 12)
c = t1.count(12)
i = t1.index(13)
print(c)
print(i)

2
2

## Del

In [71]:
t1 = (3, 12)
del t1
print(t1)

NameError: name 't1' is not defined

## Sort

In [38]:
t1 = (3, 12, 10, 13, 16)
t2 = tuple(sorted(t1, reverse=True))
print(t2)

(16, 13, 12, 10, 3)

In [41]:
t1 = (3, 12, 13, 16)
t1 = list(t1)
t1.sort()
print(tuple(t1))

(3, 12, 13, 16)

### Points

In [51]:
def function1(num1, num2):
  res1 = num1 + num2
  res2 = num1 - num2
  res3 = num1 * num2
  return res1, "python", res3

In [54]:
sum_, minus, multi = function1(3, 12)
print(sum_, minus, multi)
print(minus + multi)

15 python 36

TypeError: can only concatenate str (not "int") to str

In [53]:
result = function1(3, 12)
print(result)

(15, 'python', 36)

In [46]:
x, y, z = (12, 13, 14)
print(x, y, z)

12 13 14

In [48]:
x, y, *z = 12, 13, 14, 50
print(x, y, z)

12 13 [14, 50]

In [49]:
x, *y, z = 12, 13, 14, 50
print(x, y, z)

12 [13, 14] 50

In [50]:
*x, y, z = 12, 13, 14, 50
print(x, y, z)

[12, 13] 14 50

## Join

In [57]:
t1 = (12, 13, 14, 50)
t2 = (30, 40)
t3 = t1 + t2
t4 = t2 * 3
print(t3, t4)

(12, 13, 14, 50, 30, 40) (30, 40, 30, 40, 30, 40)

## zip

In [69]:
name = ["p1", "p2", "p3"]
price = (200, 130, 300)
color = ("r", "b", "y")
products = tuple(zip(name, price, color))
print(products)

(('p1', 200, 'r'), ('p2', 130, 'b'), ('p3', 300, 'y'))

In [63]:
for n, p, c in products:
  print(p)

200
130
300

In [67]:
list1 = [3, 4, 12, 15]
result = list(enumerate(list1))
for i, v in result:
  print(i, v)

0 3
1 4
2 12
3 15